<div class="container height-max">
  <div class="row height-max align-items-center">
    <div id="content"
         class="col-md-8 offset-md-2 bg-white">

      <div class="col-md-12 pt-4 pb-2 border-bottom d-flex">
        <fa name="user"
            class="position-relative pr-3"></fa>
        <h5>User CRUD</h5>
      </div>

      <div class="col-md-12 pt-5 pb-3">
          <app-user-form></app-user-form>
      </div>

      <div class="col-md-12 pt-4 pb-5">
        <app-user-list [users]="users"
                       (delete)="deleteUser($event)"></app-user-list>
      </div>

    </div>
  </div>
</div>
