@import 'colors';
@import 'typography';

/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: $primary;
  font-family: $Oxygen;
  height: 100vh;
}

ul, li { list-style-type: none; }


/* Custom */
.cursor-pointer { cursor: pointer; }

.height-max { height: 100vh; }
