$sans-serif: sans-serif;
$Oxygen: Oxygen-Regular, #{$sans-serif};
$Oxygen-Bold: Oxygen-Bold, #{$sans-serif};

@mixin font-face($name, $path, $format) {
  @font-face {
    font-family: $name;
    src: url("#{$path}") format("#{$format}");
  }
}

@include font-face('Oxygen-Regular', '/assets/fonts/Oxygen-Regular.ttf', 'truetype');
@include font-face('Oxygen-Bold', '/assets/fonts/Oxygen-Bold.ttf', 'truetype');
