<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
    <tr>
      <th *ngFor="let key of headers"
          scope="col">{{ key }}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td data-label="First Name">{{ user.firstName }}</td>
      <td data-label="Last Name">{{ user.lastName }}</td>
      <td data-label="Email Address">{{ user.emailAddress }}</td>
      <td data-label="Actions">
        <fa name="edit"
            class="pr-2"
            (click)="editUser(user.id)"></fa>

        <fa name="trash"
            class="pr-2"
            (click)="delete.next({id: user.id, index: i})"></fa>
      </td>
    </tr>
    </tbody>
  </table>
</div><!-- END .table-responsive-sm -->
